<div id="div-form">
    <h2>Cadastro Atleta</h2>
    <form id="form-atleta" (submit)="salvarAtleta()">

        <label for="nome">Nome  </label>
        <input type="text" name="nome" id="nome" class="input01" required maxlength="80" placeholder="Informe seu nome" [(ngModel)] = "nome">

        <label for="cpf">  cpf  </label>
        <input type="text" name="cpf" id="cpf" class="input02" required maxlength="11" placeholder="Informe seu cpf" [(ngModel)] = "cpf">


        <label for="sexo">  Sexo  </label>
        <input type="radio" name="sexo" id="sexoM" class="btnSelecao" value="M" required  [(ngModel)] = "sexo">Masculino
        <input type="radio" name="sexo" id="sexoF" class="btnSelecao" value="F"  [(ngModel)] = "sexo"> Feminino
        <input type="radio" name="sexo" id="sexoN" class="btnSelecao" value="N" required [(ngModel)] = "sexo" > Não se identificar
        
        <label for="cep">CEP</label>
        <input type="text" name="cep" id="cep"  class="input02" required maxlength="9" placeholder="Informe seu CEP" [(ngModel)] = "cep">

        <label for="rua-logradouro">Rua/Logradouro</label>
        <input type="text" name="rua-logradouro" id="rua-logradouro"  class="input02" required maxlength="99" placeholder="Informe sua rua" [(ngModel)] = "ruaLogradouro ">

        <label for="cep">Bairro</label>
        <input type="text" name="bairro" id="bairro"  class="input02" required maxlength="99" placeholder="Informe seu bairro" [(ngModel)] = "bairro">

        <label>Cidade</label>
        <input type="text" name="cidade" id="cidade"  class="input02" required maxlength="99" placeholder="Informe sua Cidade" [(ngModel)] = "cidade">
    

        <label for="uf">UF</label>
        <input type="text" name="uf" id="uf"  class="input02" required maxlength="2" placeholder="Informe sua UF" [(ngModel)] = "uf">


        <div id="div-btns">
            <button type="submit" id="btnAdd"> Cadastrar Atleta </button>
            <button type="reset" id="btnLimpar" > Limpar </button>

        </div>
    </form>
</div>

<!-- normalmente usaria display flex para deixar lado a lado, mas temos pressa -->