

<div id="div-form">
    <h2>Cadastro de Corrida</h2>
    <form id="form-atleta">

        <label for="nome"> Descrição da Corrida  </label>
        <input type="text" name="nome" id="nome" class="input01" required maxlength="80" placeholder="Informe seu nome">

        <!-- <label for="cpf">  cpf  </label>
        <input type="text" name="cpf" id="cpf" class="input02" required maxlength="11" placeholder="Informe seu cpf" [(ngModel)] = "cpf"> -->


          <label for="dataCadastro">data</label>
        <input type="date" name="dataCadastro" id="dataCadastro"  class="input02" required maxlength="9" placeholder="Informe a data de cadastro" [(ngModel)]= 'descricao' >

        <label for="km"> Distâncias disponíveis  </label>

        <input type="radio" name="km" id="5km" class="btnSelecao" value="5" required  > 5km

        <input type="radio" name="km" id="10km" class="btnSelecao" value="10"  [(ngModel)] = 'data'> 10KM

        <input type="radio" name="km" id="15km" class="btnSelecao" value="25" required [(ngModel)] = "distancia" > 25KM
        
      
        <div id="div-btns">
            <button type="submit" id="btnAdd"> Cadastrar Atleta </button>
            <button type="reset" id="btnLimpar" > Limpar </button>

        </div>
    </form>
</div>