/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto;
}


:root{
    --cor-menu: rgba(0, 112, 0, 0.5);
    --cor-principal: rgb(159, 187, 173);
    --cor-enfeite: rgb(146, 145, 58);
    --cor-botao: rgb(70, 72, 221);
    --cor-qualquer: rgb(201, 32, 32);
    --cor-texto: black;

}