<header id="cabecalho">
    <div id="logo">
        Esporte <span id="titulo-logo">ArLivre</span>
    </div>

    <nav id="menu">
        <ul id="menu-ul">
            <li><a routerLink="/home" class="lnk-menu">HOME</a></li>
            <li><a routerLink="/cadastroatleta" class="lnk-menu">Cadastrar Atletas</a></li>
            <li><a routerLink="/cadastroCorrida" class="lnk-menu">Cadastrar Corridas</a></li>
            <li><a routerLink="/home" class="lnk-menu">Listar Corridas</a></li>
            <li><a routerLink="/teste" class="lnk-menu">Inscrição</a></li>
        </ul>
    </nav>
</header>

<!-- Angular Material, pode ser interessante
    
Pq colocou esse # na tag a? placeholder?

-->